
@{
    ViewData["Title"] = "Lähimmät vessat";
}
<div class="form-row mb-4 mt-4">
    <div class="col-form-label">Osoite tai paikka:</div>
    <input type="text" id="paikka" class="form-control col-3 mx-2" />
    <input type="button" class="btn btn-primary mx-2" id="hae" value="Hae" onclick="HaeLista();" />
</div>
<div id="lista"></div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var coords;
    function HaeLista() {
        $.ajax({
            url: '@Url.Action("LahimmatLista", "Vessa")',
            //Passes the content of an input up
            data: { paikka: $('#paikka').val() },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
            $('#lista').html(data);
            }
        });
    }

    function Paikanna() {
        navigator.geolocation.getCurrentPosition(PaikannusOnnistui)
    }

    function PaikannusOnnistui(data) {
        $.ajax({
            url: '@Url.Action("LahimmatLista", "Vessa")',
            data: { lat: data.coords.latitude, lon: data.coords.longitude },
            success: function (data) {
                $('#lista').html(data);
            }
        });
    }

    $(function () {
        Paikanna();
        document.getElementById("paikka").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                HaeLista();
            }
        })
    })
</script>